<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
	<div id="textbox">
		<h2>A Home Dinner Service</h2>
		<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
		<h3>Start quickly</h3>
		<a href="#/search" ><button id="startButton">Create new dinner</button></a>
	</div>
